<div  class="sizedelform" class="hidden" id="deletetravels"><table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Destination</th>
        <th>Done</th>
      </tr>
    </thead>
    <tbody>
      {{#each travels as |travel|}}
        <tr>
          <td>{{travel.date}}</td>
          <td>{{travel.destination}}</td>
          <td>
            <form method="POST" action='cpanel/{{travel._id}}'>

                <button class="fa fa-check-square" aria-hidden="true" type="submit"></button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>