<div class="container text-center">
  <div class="row align-items-center">
    <div class="col">
      About us
    </div>
    <div class="col">
      ProyectM2™
    </div>
    <div class="col">
      Contact us
    </div>
  </div>
</div>