<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">Proyect M2</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reserves</a>
        </li>
        {{#if currentUser.admin}}
        <li class="nav-item">
          <a class="nav-link" href="/cpanel">Control panel</a>
        </li>
        {{else}}
          <li class="nav-item">
          <a class="nav-link" href="#">Sites</a>
          </li>
           {{/if}}
      </ul>


    {{#if currentUser}}
      <form method="GET" action="/profile"> 
        <button type="submit" class="btn btn-dark me-4">{{currentUser.email}}</button>
        
      </form>
      <form method="POST" action="/logout">
        <button type="submit" class="btn btn-danger me-2">Log out</button>
      </form>
  
      {{else}}

    <form method="GET" action="/login"> 
    <button type="submit" class="btn btn-primary btn-sm">Log in</button>
    </form>

    <form method="GET" action="/register">
    <button type="submit" class="btn btn-secondary btn-sm">Register</button>
    </form>

    {{/if}}

    </div>
  </div>
</nav>