<div class="hidden" id="shipregister">
<form  class="sizeform" method="POST" action="/cpanel">
  <div class="form-group">
    <input type="text" name="name" class="form-control" id="exampleInputName" aria-describedby="nameHelp" placeholder="Ship name">
  </div>
  <div class="form-group">
    <input type="number" name="capacity" class="form-control" id="exampleInputcapacity" placeholder="Capacity">
  </div>
    <div class="form-group">
    <input type="text" name="imgUrls" class="form-control" id="exampleInputavatar" placeholder="Img url">
  </div>

  <button type="submit" class="btn btn-primary">Create ship</button>
</form>
</div>