<table class="table table-striped">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Destino</th>
      <th>Nave</th>
      <th>Registro</th>
    </tr>
  </thead>
  <tbody>
    {{#each travels as |travel|}}
      <tr>
        <td>
          <a href="/travel/{{travel._id}}">
            {{travel.date}}
          </a>
        </td>
        <td>{{travel.destination}}</td>
        <td>{{travel.ship}}</td>
        <td>3</td>
      </tr>
    {{/each}}
  </tbody>
</table>