{{#if currentUser}}
<section class="d-flex flex-row justify-content-around mb-3 mt-5">
  <div class="mxw-50">
    <h1 class="ff-bungee">Welcome to the exploration, {{currentUser.name}}</h1>
    <section class="mt-5 ff-smono f-cw">
    <p style="color:red">Welcome to "MarsVenture" - Your Gateway to the Red Planet!</p>

    <p>Are you tired of the same old Earthly vacations? Ready to boldly go where no one has gone before? Well, you've come to the right place! MarsVenture is here to satisfy your wanderlust with a twist of interstellar adventure.</p>

    <p style="color:red"><strong>Unearthly Reservations, Not Quite Definite!</strong></p>

    <p>Before you start packing your spacesuit and learning how to grow potatoes on Mars, a quick reality check: those reservations you make on our website aren't exactly set in Martian stone. You see, Mars isn't your typical vacation spot, and neither are we your average travel agency.</p>

    <p>We take cosmic safety seriously! So, here's the deal: once you've booked your otherworldly journey, we'll need you to pass a few medical tests. Don't worry; we just want to make sure you're as fit as a fiddle for your Martian escapade. After all, you wouldn't want to surprise the Martians with a bout of space flu, would you?</p>

    <p style="color:red"><strong>Explorers Wanted!</strong></p>

    <p>So, venture forth to our "Reserves" tab and prepare to embark on the adventure of a lifetime! But remember, while we welcome all intrepid travelers with open arms, MarsVenture reserves the right to ensure that you're in tip-top shape before we blast off.</p>

    <p>Rest assured, our mission is to make sure you have an out-of-this-world experience, quite literally! So, don't forget to pack your sense of humor along with your space snacks. You're in for a journey that's not just epic but also epically uncertain, and we wouldn't have it any other way.</p>

    <p>So, what are you waiting for? Grab your helmet, kiss gravity goodbye, and join the ranks of those who dare to say, "Beam me to Mars, MarsVenture!"</p>
</section>

  </div>
  <div>
    <h1 class="ff-bungee">Upcoming events</h1>
    {{> travellist}}
  </div>
</section>
<section class="mt-5">
  <center>
  {{> carousel }}
  </center>
</section>
{{else}}
<center>
{{>nologincarousel}}
</center>
  {{/if}}