{{#if currentUser}}
<section class="d-flex flex-row justify-content-around mb-3 mt-5">
  <div class="mxw-50">
    <h1>Page content</h1>
    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut urna augue. Phasellus sed ex eleifend, vehicula neque facilisis, auctor sem. Nulla viverra rutrum ligula at ultrices. Vestibulum dui felis, feugiat id urna eu, consequat mollis ipsum. Cras lacinia risus a massa varius molestie. Donec maximus eleifend arcu eget scelerisque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec ultrices dolor mauris, et lacinia arcu egestas et. Etiam ut pulvinar magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse purus dui, imperdiet ac nunc id, lobortis consequat dui.</span>
  </div>
  <div>
    <h1>Upcoming events</h1>
    {{> travellist}}
  </div>
</section>
<center>
 {{> carousel }}
</center>
{{else}}
  <div>
    <h1>Page content</h1>
    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut urna augue. Phasellus sed ex eleifend, vehicula neque facilisis, auctor sem. Nulla viverra rutrum ligula at ultrices. Vestibulum dui felis, feugiat id urna eu, consequat mollis ipsum. Cras lacinia risus a massa varius molestie. Donec maximus eleifend arcu eget scelerisque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec ultrices dolor mauris, et lacinia arcu egestas et. Etiam ut pulvinar magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse purus dui, imperdiet ac nunc id, lobortis consequat dui.</span>
  </div>

  {{/if}}