/* * {
    overflow: hidden;
} */
.centrado {
    text-align: center;
}

.hidden {
    display: none;
}

.mxw-50 {
    max-width: 50%;
}

.sizeform {
    
    padding-top: 200px;
    width: 550px;
  }

.sizedelform {
    padding-top: 150px;
    width: 950px;
  }

.ff-smono {
    font-family: 'Space Mono', monospace;
}

.f-size24 {
    font-size: 24px;
}

