<section class="vh-100 bg-image"
  style="background-image: url('https://img.freepik.com/foto-gratis/paisaje-nocturno-galaxia_23-2148895316.jpg?w=1380&t=st=1694715555~exp=1694716155~hmac=ae2f4f13431f69864cabb181b6921cb064edfca1beb4c324c9f57ffa6e3c0649');
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;"
<h3 style="color: black;"><center>
  Control panel for Admin
  <small class="text-muted">Ships and travels registration</small>
  </center>
</h3>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <center>
        <h5 class="card-title">Ships registration</h5>
        <p class="card-text"> Choose the ship you want to add for registration </p>
        <a href="#" class="btn btn-primary" id="shipbutton">Ship registration</a>
        </center>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <center>
        <h5 class="card-title">Travels registration</h5>
        <p class="card-text">Choose the travel you want to add for registration</p>
        <button href="#" class="btn btn-primary" id="travelbutton">Travel registration</a>
        </center>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 mx-auto mt-4">
    <div class="card">
      <div class="card-body">
        <center>
        <h5 class="card-title">Remove travels</h5>
        <p class="card-text"> Delete the old travels, or some issue </p>
        <a href="#" class="btn btn-primary" id="deletebutton">Remove travels</a>
        </center>
      </div>
    </div>
  </div>
<script>

    document.getElementById('shipbutton').addEventListener('click', ()  => {
    document.getElementById('shipregister').classList.remove ("hidden");
    document.getElementById('travelregister').classList.add ("hidden");
    document.getElementById('deletetravels').classList.add("hidden");
})



    document.getElementById('travelbutton').addEventListener('click', ()  => {
    document.getElementById('travelregister').classList.remove ("hidden");
    document.getElementById('shipregister').classList.add ("hidden");
    document.getElementById('deletetravels').classList.add ("hidden");
})


    document.getElementById('deletebutton').addEventListener('click', ()  => {
    document.getElementById('deletetravels').classList.remove ("hidden");
    document.getElementById('travelregister').classList.add ("hidden");
    document.getElementById('shipregister').classList.add ("hidden");

})
</script>


<center>{{>deletetravels}}</center>
<center>{{>shipregister}}</center>
<center>{{>travelregister}}</center>





  




