<section
  class="vh-100 bg-image"
  style="background-image: url(/resources/backgrounds/bg.png);"
>

<h3 class="m-5 ff-bungee"><center>
  Hi, your travels are listed above, {{currentUser.name}}
  </center>
</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Destination</th>
      <th>Ship</th>
    </tr>
  </thead>
  <tbody>
    {{#each travels as |travel|}}
      <tr>
        <td>{{travel.date}}</td>
        <td>{{travel.destination}}</td>
        <td>{{travel.ship}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>