<table class="table table-striped">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Destino</th>
      <th>Nave</th>
    </tr>
  </thead>
  <tbody>
    {{#each travels as |travel|}}
      <tr>
        <td>{{travel.date}}</td>
        <td>{{travel.destination}}</td>
        <td>{{travel.ship}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>