
<title> Realize ur reserve </title>
<form>
{{!-- 
<select class="form-select" aria-label="Default select example">
  <option selected> Open this select menu </option>
  <option value="1">Incomgin events</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select> --}}
<title>Incoming events</title>
<li>

{{#each dates}} 



</li>
</form>
<center>
 {{> carousel }}
</center>